.ingredients-list__desc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ingredients-list__item {
  border: 1px solid #cecece;
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px 0 10px 20px;
}

.img_desc {
  width: 80px;
  height: auto;
  cursor: pointer;
  border-radius: 25%;
}

.fa-trash-alt {
  transition: all 100ms;
}

.fa-trash-alt:hover {
  color: rgb(255, 34, 34);
  font-size: 19px;
  cursor: pointer;
}
